ul#list-nav {
    margin:20px;
    padding:0;
    list-style:none;
    width:525px;
}

ul#list-nav li {
    display:inline
}

ul#list-nav li a {
    text-decoration:none;
    padding:5px 0;
    width:100px;
    background:#339966;
    color:#eee;
    float:left;
}